In [27]:
import pandas as pd
df = pd.read_csv('countries of the world.csv')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    object
 5   Coastline (coast/area ratio)        227 non-null    object
 6   Net migration                       224 non-null    object
 7   Infant mortality (per 1000 births)  224 non-null    object
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    object
 10  Phones (per 1000)                   223 non-null    object
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(1), int64(2), object(17)
memory usage: 20.5+ KB

In [29]:
df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [30]:
df.describe()

         Population  Area (sq. mi.)  GDP ($ per capita)
count  2.270000e+02    2.270000e+02          226.000000
mean   2.874028e+07    5.982270e+05         9689.823009
std    1.178913e+08    1.790282e+06        10049.138513
min    7.026000e+03    2.000000e+00          500.000000
25%    4.376240e+05    4.647500e+03         1900.000000
50%    4.786994e+06    8.660000e+04         5550.000000
75%    1.749777e+07    4.418110e+05        15700.000000
max    1.313974e+09    1.707520e+07        55100.000000

In [31]:
df['Pop. Density (per sq. mi.)'].value_counts()

Pop. Density (per sq. mi.)
66,6     2
77,4     2
69,8     2
97,7     2
372,5    2
        ..
254,4    1
316,1    1
112,9    1
838,6    1
31,3     1
Name: count, Length: 219, dtype: int64

In [32]:
df['Coastline (coast/area ratio)'].value_counts()

Coastline (coast/area ratio)
0,00     44
0,13      4
0,09      4
0,10      3
0,37      3
         ..
79,84     1
8,39      1
1,84      1
1,06      1
0,36      1
Name: count, Length: 151, dtype: int64

In [33]:

def pop_cleaning(value):
    result = value.replace(',', '.')
    return float(result)

df['Pop. Density (per sq. mi.)'] = df['Pop. Density (per sq. mi.)'].apply(pop_cleaning)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    object
 6   Net migration                       224 non-null    object
 7   Infant mortality (per 1000 births)  224 non-null    object
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    object
 10  Phones (per 1000)                   223 non-null    object
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(2), int64(2), object(16)
memory usage: 21.4+ KB

In [35]:

def coast_cleaning(value):
    result = value.replace(',', '.')
    return float(result)

df['Coastline (coast/area ratio)'] = df['Coastline (coast/area ratio)'].apply(coast_cleaning)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       224 non-null    object
 7   Infant mortality (per 1000 births)  224 non-null    object
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    object
 10  Phones (per 1000)                   223 non-null    object
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(3), int64(2), object(15)
memory usage: 22.2+ KB

In [37]:
df['Net migration'].value_counts()

Net migration
0        62
4,05      2
-0,39     2
2,07      2
-0,07     2
         ..
2,18      1
-0,64     1
2,35      1
-8,37     1
2,98      1
Name: count, Length: 157, dtype: int64

In [38]:

def net_cleaning(value):
    result = str(value)
    result = result.replace(',', '.')
    return float(result)

df['Net migration'] = df['Net migration'].apply(net_cleaning)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       224 non-null    float64
 7   Infant mortality (per 1000 births)  224 non-null    object
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    object
 10  Phones (per 1000)                   223 non-null    object
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(4), int64(2), object(14)
memory usage: 23.1+ KB

In [40]:
avr_net = df['Net migration'].mean()

In [41]:
df['Net migration'] = df['Net migration'].fillna(avr_net)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  224 non-null    object
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    object
 10  Phones (per 1000)                   223 non-null    object
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(4), int64(2), object(14)
memory usage: 23.1+ KB

In [43]:
df['Infant mortality (per 1000 births)'].value_counts()

Infant mortality (per 1000 births)
9,95      3
4,39      2
12,62     2
163,07    1
19,51     1
         ..
5,53      1
15,82     1
14,62     1
8,6       1
67,69     1
Name: count, Length: 220, dtype: int64

In [44]:

def infant_cleaning(value):
    result = str(value)

    result = result.replace(',', '.')
    return float(result)

df['Infant mortality (per 1000 births)'] = df['Infant mortality (per 1000 births)'].apply(infant_cleaning)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  224 non-null    float64
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    object
 10  Phones (per 1000)                   223 non-null    object
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(5), int64(2), object(13)
memory usage: 24.0+ KB

In [46]:
avr_infant = df['Infant mortality (per 1000 births)'].mean()

In [47]:
df['Infant mortality (per 1000 births)'] = df['Infant mortality (per 1000 births)'].fillna(avr_net)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    object
 10  Phones (per 1000)                   223 non-null    object
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(5), int64(2), object(13)
memory usage: 24.0+ KB

In [49]:

avr_gdp = df['GDP ($ per capita)'].mean()

In [50]:
df['GDP ($ per capita)'] = df['GDP ($ per capita)'].fillna(avr_net)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        209 non-null    object
 10  Phones (per 1000)                   223 non-null    object
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(5), int64(2), object(13)
memory usage: 24.0+ KB

In [52]:
df['Literacy (%)'].value_counts()

Literacy (%)
99,0     13
97,0     11
98,0     10
100,0     7
98,6      4
         ..
83,0      1
42,7      1
85,7      1
80,2      1
90,7      1
Name: count, Length: 140, dtype: int64

In [53]:

def literacy_cleaning(value):
    result = str(value)
    result = result.replace(',', '.')
    return float(result)

df['Literacy (%)'] = df['Literacy (%)'].apply(literacy_cleaning)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        209 non-null    float64
 10  Phones (per 1000)                   223 non-null    object
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(6), int64(2), object(12)
memory usage: 24.9+ KB

In [55]:

avr_net = df['Literacy (%)'].mean()

In [56]:
df['Literacy (%)'] = df['Literacy (%)'].fillna(avr_net)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        227 non-null    float64
 10  Phones (per 1000)                   223 non-null    object
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(6), int64(2), object(12)
memory usage: 24.9+ KB

In [58]:

def phone_cleaning(value):
    result = str(value)
    result = result.replace(',', '.')
    return float(result) 

df['Phones (per 1000)'] = df['Phones (per 1000)'].apply(phone_cleaning)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        227 non-null    float64
 10  Phones (per 1000)                   223 non-null    float64
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(7), int64(2), object(11)
memory usage: 25.8+ KB

In [60]:
avr_phone = df['Phones (per 1000)'].mean()

In [61]:
df['Phones (per 1000)'] = df['Phones (per 1000)'].fillna(avr_phone)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        227 non-null    float64
 10  Phones (per 1000)                   227 non-null    float64
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(7), int64(2), object(11)
memory usage: 25.8+ KB

In [63]:

def arable_cleaning(value):
    result = str(value)
    result = result.replace(',', '.')
    result = float(result)
    return result * 100 

df['Arable (%)'] = df['Arable (%)'].apply(arable_cleaning)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        227 non-null    float64
 10  Phones (per 1000)                   227 non-null    float64
 11  Arable (%)                          225 non-null    float64
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(8), int64(2), object(10)
memory usage: 26.7+ KB

In [65]:
df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,1213.0,"0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,2109.0,"4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,322.0,"0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,1000.0,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,222.0,0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [66]:
avr_ar = df['Arable (%)'].mean()

In [67]:
df['Arable (%)'] = df['Arable (%)'].fillna(avr_ar)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        227 non-null    float64
 10  Phones (per 1000)                   227 non-null    float64
 11  Arable (%)                          227 non-null    float64
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(8), int64(2), object(10)
memory usage: 26.7+ KB

In [69]:

def crops_cleaning(value):
    result = str(value)
    result = result.replace(',', '.')
    result = float(result)
    return result * 100 

df['Crops (%)'] = df['Crops (%)'].apply(crops_cleaning)

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        227 non-null    float64
 10  Phones (per 1000)                   227 non-null    float64
 11  Arable (%)                          227 non-null    float64
 12  Crops (%)                           225 non-null    float64
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(9), int64(2), object(9)
memory usage: 27.6+ KB

In [71]:
avr_cr = df['Crops (%)'].mean()

In [72]:
df['Crops (%)'] = df['Crops (%)'].fillna(avr_cr)

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        227 non-null    float64
 10  Phones (per 1000)                   227 non-null    float64
 11  Arable (%)                          227 non-null    float64
 12  Crops (%)                           227 non-null    float64
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(9), int64(2), object(9)
memory usage: 27.6+ KB

In [74]:

def other_cleaning(value):
    result = str(value)
    result = result.replace(',', '.')
    result = float(result)
    return result * 100 

df['Other (%)'] = df['Other (%)'].apply(other_cleaning)

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        227 non-null    float64
 10  Phones (per 1000)                   227 non-null    float64
 11  Arable (%)                          227 non-null    float64
 12  Crops (%)                           227 non-null    float64
 13  Other (%)                           225 non-null    float64
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(10), int64(2), object(8)
memory usage: 28.4+ KB

In [76]:
avr_ot = df['Other (%)'].mean()

In [77]:
df['Other (%)'] = df['Other (%)'].fillna(avr_ot)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        227 non-null    float64
 10  Phones (per 1000)                   227 non-null    float64
 11  Arable (%)                          227 non-null    float64
 12  Crops (%)                           227 non-null    float64
 13  Other (%)                           227 non-null    float64
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(10), int64(2), object(8)
memory usage: 28.4+ KB

In [79]:

def climate_cleaning(value):
    result = str(value)
    result = result.replace(',', '.')
    return float(result) 

df['Climate'] = df['Climate'].apply(climate_cleaning)

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        227 non-null    float64
 10  Phones (per 1000)                   227 non-null    float64
 11  Arable (%)                          227 non-null    float64
 12  Crops (%)                           227 non-null    float64
 13  Other (%)                           227 non-null    float64
 14  Climate                             205 non-null    float64
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(11), int64(2), object(7)
memory usage: 29.3+ KB

In [81]:
avr_c = df['Climate'].mean()

In [82]:
df['Climate'] = df['Climate'].fillna(avr_c)

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        227 non-null    float64
 10  Phones (per 1000)                   227 non-null    float64
 11  Arable (%)                          227 non-null    float64
 12  Crops (%)                           227 non-null    float64
 13  Other (%)                           227 non-null    float64
 14  Climate                             227 non-null    float64
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(11), int64(2), object(7)
memory usage: 29.3+ KB

In [84]:

def birthrate_cleaning(value):
    result = str(value)
    result = result.replace(',', '.')
    return float(result) 

df['Birthrate'] = df['Birthrate'].apply(birthrate_cleaning)

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        227 non-null    float64
 10  Phones (per 1000)                   227 non-null    float64
 11  Arable (%)                          227 non-null    float64
 12  Crops (%)                           227 non-null    float64
 13  Other (%)                           227 non-null    float64
 14  Climate                             227 non-null    float64
 15  Birthrate                           224 non-null    float64
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(12), int64(2), object(6)
memory usage: 30.2+ KB

In [86]:
avr_c = df['Birthrate'].mean()

In [87]:
df['Birthrate'] = df['Birthrate'].fillna(avr_c)

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        227 non-null    float64
 10  Phones (per 1000)                   227 non-null    float64
 11  Arable (%)                          227 non-null    float64
 12  Crops (%)                           227 non-null    float64
 13  Other (%)                           227 non-null    float64
 14  Climate                             227 non-null    float64
 15  Birthrate                           227 non-null    float64
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(12), int64(2), object(6)
memory usage: 30.2+ KB

In [89]:

def deathrate_cleaning(value):
    result = str(value)
    result = result.replace(',', '.')
    return float(result) 

df['Deathrate'] = df['Deathrate'].apply(deathrate_cleaning)

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        227 non-null    float64
 10  Phones (per 1000)                   227 non-null    float64
 11  Arable (%)                          227 non-null    float64
 12  Crops (%)                           227 non-null    float64
 13  Other (%)                           227 non-null    float64
 14  Climate                             227 non-null    float64
 15  Birthrate                           227 non-null    float64
 16  Deathrate                           223 non-null    float64
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(13), int64(2), object(5)
memory usage: 31.1+ KB

In [91]:
avr_c = df['Deathrate'].mean()

In [92]:
df['Deathrate'] = df['Deathrate'].fillna(avr_c)

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        227 non-null    float64
 10  Phones (per 1000)                   227 non-null    float64
 11  Arable (%)                          227 non-null    float64
 12  Crops (%)                           227 non-null    float64
 13  Other (%)                           227 non-null    float64
 14  Climate                             227 non-null    float64
 15  Birthrate                           227 non-null    float64
 16  Deathrate                           227 non-null    float64
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(13), int64(2), object(5)
memory usage: 31.1+ KB

In [94]:

def agriculture_cleaning(value):
    result = str(value)
    result = result.replace(',', '.')
    return float(result) 

df['Agriculture'] = df['Agriculture'].apply(agriculture_cleaning)

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        227 non-null    float64
 10  Phones (per 1000)                   227 non-null    float64
 11  Arable (%)                          227 non-null    float64
 12  Crops (%)                           227 non-null    float64
 13  Other (%)                           227 non-null    float64
 14  Climate                             227 non-null    float64
 15  Birthrate                           227 non-null    float64
 16  Deathrate                           227 non-null    float64
 17  Agriculture                         212 non-null    float64
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(14), int64(2), object(4)
memory usage: 32.0+ KB

In [96]:
avr_c = df['Agriculture'].mean()

In [97]:
df['Agriculture'] = df['Agriculture'].fillna(avr_c)

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        227 non-null    float64
 10  Phones (per 1000)                   227 non-null    float64
 11  Arable (%)                          227 non-null    float64
 12  Crops (%)                           227 non-null    float64
 13  Other (%)                           227 non-null    float64
 14  Climate                             227 non-null    float64
 15  Birthrate                           227 non-null    float64
 16  Deathrate                           227 non-null    float64
 17  Agriculture                         227 non-null    float64
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(14), int64(2), object(4)
memory usage: 32.0+ KB

In [99]:

def industry_cleaning(value):
    result = str(value)
    result = result.replace(',', '.')
    return float(result) 

df['Industry'] = df['Industry'].apply(industry_cleaning)

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        227 non-null    float64
 10  Phones (per 1000)                   227 non-null    float64
 11  Arable (%)                          227 non-null    float64
 12  Crops (%)                           227 non-null    float64
 13  Other (%)                           227 non-null    float64
 14  Climate                             227 non-null    float64
 15  Birthrate                           227 non-null    float64
 16  Deathrate                           227 non-null    float64
 17  Agriculture                         227 non-null    float64
 18  Industry                            211 non-null    float64
 19  Service                             212 non-null    object
dtypes: float64(15), int64(2), object(3)
memory usage: 32.9+ KB

In [101]:
avr_c = df['Industry'].mean()

In [102]:
df['Industry'] = df['Industry'].fillna(avr_c)

In [103]:

def service_cleaning(value):
    result = str(value)
    result = result.replace(',', '.')
    return float(result) 

df['Service'] = df['Service'].apply(service_cleaning)

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        227 non-null    float64
 10  Phones (per 1000)                   227 non-null    float64
 11  Arable (%)                          227 non-null    float64
 12  Crops (%)                           227 non-null    float64
 13  Other (%)                           227 non-null    float64
 14  Climate                             227 non-null    float64
 15  Birthrate                           227 non-null    float64
 16  Deathrate                           227 non-null    float64
 17  Agriculture                         227 non-null    float64
 18  Industry                            227 non-null    float64
 19  Service                             212 non-null    float64
dtypes: float64(16), int64(2), object(2)
memory usage: 33.8+ KB

In [105]:
avr_c = df['Service'].mean()

In [106]:
df['Service'] = df['Service'].fillna(avr_c)

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       227 non-null    float64
 7   Infant mortality (per 1000 births)  227 non-null    float64
 8   GDP ($ per capita)                  227 non-null    float64
 9   Literacy (%)                        227 non-null    float64
 10  Phones (per 1000)                   227 non-null    float64
 11  Arable (%)                          227 non-null    float64
 12  Crops (%)                           227 non-null    float64
 13  Other (%)                           227 non-null    float64
 14  Climate                             227 non-null    float64
 15  Birthrate                           227 non-null    float64
 16  Deathrate                           227 non-null    float64
 17  Agriculture                         227 non-null    float64
 18  Industry                            227 non-null    float64
 19  Service                             227 non-null    float64
dtypes: float64(16), int64(2), object(2)
memory usage: 33.8+ KB

In [186]:
df.to_csv('countries_half_cleaned.csv')

In [109]:
#1
checkpoint = df['GDP ($ per capita)'].quantile(0.75)

In [110]:
df_rich = df[df['GDP ($ per capita)'] >= checkpoint]
df_poor = df[df['GDP ($ per capita)'] < checkpoint]

In [120]:
df['Area (sq. mi.)'].mean()

598226.9559471365

In [121]:
df['Area (sq. mi.)'].mean()

598226.9559471365

In [122]:
df_rich['Area (sq. mi.)'].mean()

1147508.5789473683

In [123]:
df_poor['Area (sq. mi.)'].mean()

414056.0588235294

In [124]:
#2
checkpoint = df['Industry'].quantile(0.75)

In [125]:
df_rich = df[df['Industry'] >= checkpoint]
df_poor = df[df['Industry'] < checkpoint]

In [126]:
df_rich['Industry'].mean()

0.4571228070175439

In [127]:
df_poor['Industry'].mean()

0.22423161416225257

In [152]:
#3
checkpoint = df['Coastline (coast/area ratio)'].quantile(0.75)

In [153]:
df_rich = df[df['Coastline (coast/area ratio)'] >= checkpoint]
df_poor = df[df['Coastline (coast/area ratio)'] < checkpoint]

In [154]:
df_rich['Coastline (coast/area ratio)'].mean()

80.50649122807019

In [155]:
df_poor['Coastline (coast/area ratio)'].mean()

1.2685882352941176

In [156]:
#4
checkpoint = df['Net migration'].quantile(0.75)

In [157]:
df_rich = df[df['Net migration'] >= checkpoint]
df_poor = df[df['Net migration'] < checkpoint]

In [158]:
df_rich['Net migration'].mean()

5.195263157894737

In [159]:
df_poor['Net migration'].mean()

-1.691033088235294

In [172]:
#5
checkpoint = df['Literacy (%)'].quantile(0.75)

In [166]:
df_rich = df[df['Literacy (%)'] >= checkpoint]
df_poor = df[df['Literacy (%)'] < checkpoint]

In [162]:
df_rich['Literacy (%)'].mean()

98.9603448275862

In [167]:
df_poor['Literacy (%)'].mean()

77.30526032671783

In [168]:
#6
checkpoint = df['Phones (per 1000)'].quantile(0.75)

In [169]:
df_rich = df[df['Phones (per 1000)'] >= checkpoint]
df_poor = df[df['Phones (per 1000)'] < checkpoint]

In [170]:
df_rich['Phones (per 1000)'].mean()

564.3175438596492

In [171]:
df_poor['Phones (per 1000)'].mean()

125.99909258770772

In [178]:
#7
checkpoint = df['Infant mortality (per 1000 births)'].quantile(0.25)

In [179]:
df_rich = df[df['Infant mortality (per 1000 births)'] >= checkpoint]
df_poor = df[df['Infant mortality (per 1000 births)'] < checkpoint]

In [180]:
df_rich['Infant mortality (per 1000 births)'].mean()

45.09105882352941

In [181]:
df_poor['Infant mortality (per 1000 births)'].mean()

5.056041666666666

In [182]:
#8
checkpoint = df['Deathrate'].quantile(0.25)

In [183]:
df_rich = df[df['Deathrate'] >= checkpoint]
df_poor = df[df['Deathrate'] < checkpoint]

In [184]:
df_rich['Deathrate'].mean()

10.763325771564231

In [185]:
df_poor['Deathrate'].mean()

4.702105263157895