In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('GooglePlayStore_cleaned.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9658 entries, 0 to 9657
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      9658 non-null   int64
 1   app             9658 non-null   object
 2   category        9658 non-null   object
 3   rating          9658 non-null   float64
 4   reviews         9658 non-null   int64
 5   installs        9658 non-null   int64
 6   type            9658 non-null   object
 7   price           9658 non-null   float64
 8   content_rating  9658 non-null   object
 9   genres          9658 non-null   object
 10  current_ver     9658 non-null   object
 11  android_ver     9658 non-null   object
 12  size(kb)        9658 non-null   float64
 13  update_month    9658 non-null   int64
 14  update_year     9658 non-null   int64
dtypes: float64(3), int64(5), object(7)
memory usage: 867.8+ KB

In [5]:
df.head()

,Unnamed: 0,app,category,rating,reviews,installs,type,price,content_rating,genres,current_ver,android_ver,size(kb),update_month,update_year
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,10000,free,0.0,Everyone,Art & Design,1.0.0,4.0.3,19000.0,1,2018
1,1,Coloring book moana,ART_AND_DESIGN,3.9,967,500000,free,0.0,Everyone,Art & Design;Pretend Play,2.0.0,4.0.3,14000.0,1,2018
2,2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,5000000,free,0.0,Everyone,Art & Design,1.2.4,4.0.3,8.7,8,2018
3,3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,50000000,free,0.0,Teen,Art & Design,1.0,4.2,25000.0,6,2018
4,4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,100000,free,0.0,Everyone,Art & Design;Creativity,1.1,4.4,2.8,6,2018

In [6]:
df.tail()

,Unnamed: 0,app,category,rating,reviews,installs,type,price,content_rating,genres,current_ver,android_ver,size(kb),update_month,update_year
9653,10353,Sya9a Maroc - FR,FAMILY,4.5,38,5000,free,0.0,Everyone,Education,1.48,4.1,53000.000000,7,2017
9654,10354,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,100,free,0.0,Everyone,Education,1.0,4.1,3.600000,7,2018
9655,10355,Parkinson Exercices FR,MEDICAL,4.3,3,1000,free,0.0,Everyone,Medical,1.0,2.2,9.500000,1,2017
9656,10356,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,1000,free,0.0,Mature 17+,Books & Reference,1.0,4.1,18372.195837,1,2015
9657,10357,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,10000000,free,0.0,Everyone,Lifestyle,1.0,4.1,19000.000000,7,2018

In [7]:
df.describe()

,Unnamed: 0,rating,reviews,installs,price,size(kb),update_month,update_year
count,9658.000000,9658.000000,9.658000e+03,9.658000e+03,9658.000000,9658.000000,9658.000000,9658.00000
mean,5273.607890,4.192431,2.166150e+05,7.778312e+06,1.099413,18372.195837,6.364051,2017.34562
std,2991.145456,0.496422,1.831413e+06,5.376100e+07,16.853021,21763.543700,2.659746,1.13764
min,0.000000,1.000000,0.000000e+00,0.000000e+00,0.000000,1.000000,1.000000,2010.00000
25%,2716.250000,4.000000,2.500000e+01,1.000000e+03,0.000000,6.200000,5.000000,2017.00000
50%,5356.500000,4.300000,9.670000e+02,1.000000e+05,0.000000,16000.000000,7.000000,2018.00000
75%,7855.750000,4.500000,2.940800e+04,1.000000e+06,0.000000,25000.000000,8.000000,2018.00000
max,10357.000000,5.000000,7.815831e+07,1.000000e+09,400.000000,100000.000000,12.000000,2018.00000

In [8]:
mean_rating = df['rating'].mean()
print("Average rating of apps:", mean_rating)

Average rating of apps: 4.192431145164631

In [9]:
max_rating = df['rating'].max()
print("Maximum rating of apps:", max_rating)

Maximum rating of apps: 5.0

In [10]:
median_rating = df['rating'].median()
print("Median rating of apps:", median_rating)

Median rating of apps: 4.3

In [11]:
mean_rating = df['installs'].mean()
print("Average rating of installations:", mean_rating)

Average rating of installations: 7778312.023917995

In [12]:
max_rating = df['installs'].max()
print("Maximum rating of installations:", max_rating)

Maximum rating of installations: 1000000000

In [13]:
median_rating = df['installs'].median()
print("Median rating of installations:", median_rating)

Median rating of installations: 100000.0

In [14]:
comparing = max_rating/median_rating
print("Rating of installations:", comparing)

Rating of installations: 10000.0

In [15]:
mean_rating = df['price'].mean()
print("Average rating of applications:", mean_rating)

Average rating of applications: 1.0994129219300064

In [16]:
max_rating = df['price'].max()
print("Maximum rating of applications:", max_rating)

Maximum rating of applications: 400.0

In [17]:
median_rating = df['price'].median()
print("Median rating of applications:", median_rating)

Median rating of applications: 0.0

In [18]:
comparing = max_rating/median_rating
print("Rating of applications:", comparing)

Rating of applications: inf