In [2]:
import pandas as pd
df = pd.read_csv('googleplaystore.csv')

In [3]:
df['Size'].value_counts()

Size
Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
                      ...
429k                     1
200k                     1
460k                     1
728k                     1
619k                     1
Name: count, Length: 462, dtype: int64

In [4]:
def size_clean(value):
    if isinstance(value, str): 
        value = value.replace(',', '').replace('+', '')  
        if 'M' in value or 'm' in value:
            result = value.replace('M', '').replace('m', '')
            return float(result)
        elif 'K' in value or 'k' in value:
            result = value.replace('K', '').replace('k', '')
            return float(result) / 1024  
        elif value.lower() == 'varies with device':
            return None
        else:
            try:
                return float(value)
            except:
                return None
    return None  

df['Size'] = df['Size'].apply(size_clean)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10841 non-null  int64
 1   App             10841 non-null  object
 2   Category        10841 non-null  object
 3   Rating          9367 non-null   float64
 4   Reviews         10841 non-null  object
 5   Size            9146 non-null   float64
 6   Installs        10841 non-null  object
 7   Type            10840 non-null  object
 8   Price           10841 non-null  object
 9   Content Rating  10840 non-null  object
 10  Genres          10841 non-null  object
 11  Last Updated    10841 non-null  object
 12  Current Ver     10833 non-null  object
 13  Android Ver     10838 non-null  object
dtypes: float64(2), int64(1), object(11)
memory usage: 720.0+ KB

In [6]:
def installs_clean(value):
    if value == 'Free':  
        return 0  
    else:
        result = value.replace(',', '').replace('+', '')
        return int(result)
df['Installs'] = df['Installs'].apply(installs_clean)

In [7]:
df['Installs'].value_counts()

Installs
1000000       1579
10000000      1252
100000        1169
10000         1054
1000           907
5000000        752
100            719
500000         539
50000          479
5000           477
100000000      409
10             386
500            330
50000000       289
50             205
5               82
500000000       72
1               67
1000000000      58
0               16
Name: count, dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10841 non-null  int64
 1   App             10841 non-null  object
 2   Category        10841 non-null  object
 3   Rating          9367 non-null   float64
 4   Reviews         10841 non-null  object
 5   Size            9146 non-null   float64
 6   Installs        10841 non-null  int64
 7   Type            10840 non-null  object
 8   Price           10841 non-null  object
 9   Content Rating  10840 non-null  object
 10  Genres          10841 non-null  object
 11  Last Updated    10841 non-null  object
 12  Current Ver     10833 non-null  object
 13  Android Ver     10838 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 762.3+ KB

In [9]:
df['Price'].value_counts()

Price
0          10040
$0.99        148
$2.99        129
$1.99         73
$4.99         72
           ...
$1.75          1
$14.00         1
$4.85          1
$46.99         1
$1.04          1
Name: count, Length: 93, dtype: int64

In [10]:
def price_clean(value):
    if '$' in value:
        result = value.replace('$', '')
        return float(result)
    elif 'Everyone' in value:
        return 0
    if value == '0' or value == 0:
        return 0.0
    try:
        value = str(value).replace('$', '')
        return float(value)
    except ValueError:
        return None
df['Price'] = df['Price'].apply(price_clean)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10841 non-null  int64
 1   App             10841 non-null  object
 2   Category        10841 non-null  object
 3   Rating          9367 non-null   float64
 4   Reviews         10841 non-null  object
 5   Size            9146 non-null   float64
 6   Installs        10841 non-null  int64
 7   Type            10840 non-null  object
 8   Price           10841 non-null  float64
 9   Content Rating  10840 non-null  object
 10  Genres          10841 non-null  object
 11  Last Updated    10841 non-null  object
 12  Current Ver     10833 non-null  object
 13  Android Ver     10838 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 804.7+ KB

In [12]:
df['Last Updated'].value_counts()

Last Updated
3-Aug-18     326
2-Aug-18     304
31-Jul-18    294
1-Aug-18     285
30-Jul-18    211
            ...
20-Mar-14      1
7-Apr-15       1
22-Sep-14      1
3-Oct-15       1
23-Mar-14      1
Name: count, Length: 1378, dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10841 non-null  int64
 1   App             10841 non-null  object
 2   Category        10841 non-null  object
 3   Rating          9367 non-null   float64
 4   Reviews         10841 non-null  object
 5   Size            9146 non-null   float64
 6   Installs        10841 non-null  int64
 7   Type            10840 non-null  object
 8   Price           10841 non-null  float64
 9   Content Rating  10840 non-null  object
 10  Genres          10841 non-null  object
 11  Last Updated    10841 non-null  object
 12  Current Ver     10833 non-null  object
 13  Android Ver     10838 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 804.7+ KB

In [14]:
def update_year(value):
    result = str(value)
    result = result.split('-')
    result = "20" + result[len(result)-1]
    result = result.replace('.', '')
    return int(result)
df['Last Updated'] = df['Last Updated'].apply(update_year)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10841 non-null  int64
 1   App             10841 non-null  object
 2   Category        10841 non-null  object
 3   Rating          9367 non-null   float64
 4   Reviews         10841 non-null  object
 5   Size            9146 non-null   float64
 6   Installs        10841 non-null  int64
 7   Type            10840 non-null  object
 8   Price           10841 non-null  float64
 9   Content Rating  10840 non-null  object
 10  Genres          10841 non-null  object
 11  Last Updated    10841 non-null  int64
 12  Current Ver     10833 non-null  object
 13  Android Ver     10838 non-null  object
dtypes: float64(3), int64(3), object(8)
memory usage: 847.0+ KB

In [16]:
df['Last Updated'].value_counts()

Last Updated
2018      7349
2017      1867
2016       804
2015       459
2014       209
2013       110
2012        26
2011        15
2010         1
201019       1
Name: count, dtype: int64

In [17]:
def update_year(value):
    result = str(value)
    result = result.split('-')
    result = "20" + result[len(result)-1]
    result = result.replace('.', '')
    return int(result)
df['Last Updated'] = df['Last Updated'].apply(update_year)

In [18]:
df['Genres'].value_counts()

Genres
Tools                     842
Entertainment             623
Education                 549
Medical                   463
Business                  460
                         ...
Arcade;Pretend Play         1
Card;Brain Games            1
Lifestyle;Pretend Play      1
Comics;Creativity           1
Strategy;Creativity         1
Name: count, Length: 120, dtype: int64

In [19]:
def genres_clean(value):
    if ';' in value:
        result = value.split(';')
        return len(result)
    else:
        return 1
df['Genres'] = df['Genres'].apply(genres_clean)

In [20]:
df['Genres'].value_counts()

Genres
1    10343
2      498
Name: count, dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10841 non-null  int64
 1   App             10841 non-null  object
 2   Category        10841 non-null  object
 3   Rating          9367 non-null   float64
 4   Reviews         10841 non-null  object
 5   Size            9146 non-null   float64
 6   Installs        10841 non-null  int64
 7   Type            10840 non-null  object
 8   Price           10841 non-null  float64
 9   Content Rating  10840 non-null  object
 10  Genres          10841 non-null  int64
 11  Last Updated    10841 non-null  int64
 12  Current Ver     10833 non-null  object
 13  Android Ver     10838 non-null  object
dtypes: float64(3), int64(4), object(7)
memory usage: 889.4+ KB