In [1]:
import pandas as pd
df = pd.read_csv('marketing_campaign_dataset.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       200000 non-null  int64
 1   Company           200000 non-null  object
 2   Campaign_Type     200000 non-null  object
 3   Target_Audience   200000 non-null  object
 4   Duration          200000 non-null  object
 5   Channel_Used      200000 non-null  object
 6   Conversion_Rate   200000 non-null  float64
 7   Acquisition_Cost  200000 non-null  object
 8   ROI               200000 non-null  float64
 9   Location          200000 non-null  object
 10  Language          200000 non-null  object
 11  Clicks            200000 non-null  int64
 12  Impressions       200000 non-null  int64
 13  Engagement_Score  200000 non-null  int64
 14  Customer_Segment  200000 non-null  object
 15  Date              200000 non-null  object
dtypes: float64(2), int64(4), object(10)
memory usage: 24.4+ MB

In [3]:
df.head()

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date
0,1,Innovate Industries,Email,Men 18-24,30 days,Google Ads,0.04,"$16,174.00",6.29,Chicago,Spanish,506,1922,6,Health & Wellness,2021-01-01
1,2,NexGen Systems,Email,Women 35-44,60 days,Google Ads,0.12,"$11,566.00",5.61,New York,German,116,7523,7,Fashionistas,2021-01-02
2,3,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,0.07,"$10,200.00",7.18,Los Angeles,French,584,7698,1,Outdoor Adventurers,2021-01-03
3,4,DataTech Solutions,Display,All Ages,60 days,YouTube,0.11,"$12,724.00",5.55,Miami,Mandarin,217,1820,7,Health & Wellness,2021-01-04
4,5,NexGen Systems,Email,Men 25-34,15 days,YouTube,0.05,"$16,452.00",6.50,Los Angeles,Mandarin,379,4201,3,Health & Wellness,2021-01-05

In [4]:
google = df[df['Channel_Used'] == 'Google Ads']
effectiveness = google['ROI'].mean()
print(effectiveness)

5.003141336204318

In [5]:
df['Channel_Used'].value_counts()

Channel_Used
Email         33599
Google Ads    33438
YouTube       33392
Instagram     33392
Website       33360
Facebook      32819
Name: count, dtype: int64

In [6]:
influencer = df[df['Campaign_Type'] == 'Influencer']
effectiveness = influencer['ROI'].mean()
print(effectiveness)

5.011068236699942

In [7]:
df['Campaign_Type'].value_counts()

Campaign_Type
Influencer      40169
Search          40157
Display         39987
Email           39870
Social Media    39817
Name: count, dtype: int64

In [8]:
data = df[(df['Channel_Used'] == 'YouTube') & (df['Target_Audience'] == 'Women 35-44')]
effectiveness = data['ROI'].mean()
print(effectiveness)

5.009631594906003

In [9]:
df['Target_Audience'].value_counts()

Target_Audience
Men 18-24      40258
Men 25-34      40023
All Ages       40019
Women 25-34    40013
Women 35-44    39687
Name: count, dtype: int64

In [10]:
data = df[(df['Channel_Used'] == 'Instagram') & (df['Target_Audience'] == 'Women 35-44')]
effectiveness = data['ROI'].mean()
print(effectiveness)

4.985893097769127

In [11]:
english = df[df['Language'] == 'English']
effectiveness = english['ROI'].mean()
print(effectiveness)

4.990734158812914

In [12]:
df['Language'].value_counts()

Language
Mandarin    40255
Spanish     40102
German      39983
English     39896
French      39764
Name: count, dtype: int64

In [13]:
df['ROI'].mean()

5.00243785

In [15]:
df['Location'].value_counts()

Location
Miami          40269
New York       40024
Chicago        40010
Los Angeles    39947
Houston        39750
Name: count, dtype: int64

In [19]:
df['Engagement_Score'].value_counts()

Engagement_Score
4     20141
2     20113
9     20106
1     20027
5     20023
3     19947
8     19944
7     19933
10    19884
6     19882
Name: count, dtype: int64

In [25]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("thedevastator/the-nutritional-content-of-food-a-comprehensive")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/thedevastator/the-nutritional-content-of-food-a-comprehensive?dataset_version_number=5...

100%|██████████| 745k/745k [00:02<00:00, 328kB/s]

Extracting files...
Path to dataset files: C:\Users\Nozima\.cache\kagglehub\datasets\thedevastator\the-nutritional-content-of-food-a-comprehensive\versions\5

In [23]:
!pip install kagglehub

Collecting kagglehub
  Downloading kagglehub-0.3.6-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from kagglehub) (24.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from kagglehub) (4.66.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests->kagglehub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->kagglehub) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->kagglehub) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->kagglehub) (2024.8.30)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm->kagglehub) (0.4.6)
Downloading kagglehub-0.3.6-py3-none-any.whl (51 kB)
Installing collected packages: kagglehub
Successfully installed kagglehub-0.3.6

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       200000 non-null  int64
 1   Company           200000 non-null  object
 2   Campaign_Type     200000 non-null  object
 3   Target_Audience   200000 non-null  object
 4   Duration          200000 non-null  object
 5   Channel_Used      200000 non-null  object
 6   Conversion_Rate   200000 non-null  float64
 7   Acquisition_Cost  200000 non-null  object
 8   ROI               200000 non-null  float64
 9   Location          200000 non-null  object
 10  Language          200000 non-null  object
 11  Clicks            200000 non-null  int64
 12  Impressions       200000 non-null  int64
 13  Engagement_Score  200000 non-null  int64
 14  Customer_Segment  200000 non-null  object
 15  Date              200000 non-null  object
dtypes: float64(2), int64(4), object(10)
memory usage: 24.4+ MB

In [29]:
df = pd.read_csv(path+'\ABBREV.csv')
df.info()

<>:1: SyntaxWarning: invalid escape sequence '\A'
<>:1: SyntaxWarning: invalid escape sequence '\A'
C:\Users\Nozima\AppData\Local\Temp\ipykernel_17952\448497689.py:1: SyntaxWarning: invalid escape sequence '\A'
  df = pd.read_csv(path+'\ABBREV.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 54 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              8790 non-null   int64
 1   NDB_No             8790 non-null   int64
 2   Shrt_Desc          8790 non-null   object
 3   Water_(g)          8789 non-null   float64
 4   Energ_Kcal         8790 non-null   int64
 5   Protein_(g)        8790 non-null   float64
 6   Lipid_Tot_(g)      8790 non-null   float64
 7   Ash_(g)            8465 non-null   float64
 8   Carbohydrt_(g)     8790 non-null   float64
 9   Fiber_TD_(g)       8196 non-null   float64
 10  Sugar_Tot_(g)      6958 non-null   float64
 11  Calcium_(mg)       8442 non-null   float64
 12  Iron_(mg)          8646 non-null   float64
 13  Magnesium_(mg)     8051 non-null   float64
 14  Phosphorus_(mg)    8211 non-null   float64
 15  Potassium_(mg)     8364 non-null   float64
 16  Sodium_(mg)        8707 non-null   float64
 17  Zinc_(mg)          8084 non-null   float64
 18  Copper_mg)         7533 non-null   float64
 19  Manganese_(mg)     6630 non-null   float64
 20  Selenium_(µg)      7090 non-null   float64
 21  Vit_C_(mg)         7972 non-null   float64
 22  Thiamin_(mg)       8156 non-null   float64
 23  Riboflavin_(mg)    8174 non-null   float64
 24  Niacin_(mg)        8153 non-null   float64
 25  Panto_Acid_mg)     6548 non-null   float64
 26  Vit_B6_(mg)        7885 non-null   float64
 27  Folate_Tot_(µg)    7529 non-null   float64
 28  Folic_Acid_(µg)    6751 non-null   float64
 29  Food_Folate_(µg)   7022 non-null   float64
 30  Folate_DFE_(µg)    6733 non-null   float64
 31  Choline_Tot_ (mg)  4774 non-null   float64
 32  Vit_B12_(µg)       7597 non-null   float64
 33  Vit_A_IU           8079 non-null   float64
 34  Vit_A_RAE          7255 non-null   float64
 35  Retinol_(µg)       6984 non-null   float64
 36  Alpha_Carot_(µg)   5532 non-null   float64
 37  Beta_Carot_(µg)    5628 non-null   float64
 38  Beta_Crypt_(µg)    5520 non-null   float64
 39  Lycopene_(µg)      5498 non-null   float64
 40  Lut+Zea_ (µg)      5475 non-null   float64
 41  Vit_E_(mg)         5901 non-null   float64
 42  Vit_D_µg           5528 non-null   float64
 43  Vit_D_IU           5579 non-null   float64
 44  Vit_K_(µg)         5227 non-null   float64
 45  FA_Sat_(g)         8441 non-null   float64
 46  FA_Mono_(g)        8124 non-null   float64
 47  FA_Poly_(g)        8125 non-null   float64
 48  Cholestrl_(mg)     8380 non-null   float64
 49  GmWt_1             8490 non-null   float64
 50  GmWt_Desc1         8491 non-null   object
 51  GmWt_2             4825 non-null   float64
 52  GmWt_Desc2         4825 non-null   object
 53  Refuse_Pct         8740 non-null   float64
dtypes: float64(48), int64(3), object(3)
memory usage: 3.6+ MB

In [31]:
df.head()

,index,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),...,Vit_K_(µg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct
0,0,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,0.0,...,7.0,51.368,21.021,3.043,215.0,5.00,"1 pat, (1"" sq, 1/3"" high)",14.2,1 tbsp,0.0
1,1,1002,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,1.62,2.87,0.0,...,4.6,45.390,19.874,3.331,225.0,3.80,"1 pat, (1"" sq, 1/3"" high)",9.4,1 tbsp,0.0
2,2,1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,...,8.6,61.924,28.732,3.694,256.0,12.80,1 tbsp,205.0,1 cup,0.0
3,3,1004,"CHEESE,BLUE",42.41,353,21.40,28.74,5.11,2.34,0.0,...,2.4,18.669,7.778,0.800,75.0,28.35,1 oz,17.0,1 cubic inch,0.0
4,4,1005,"CHEESE,BRICK",41.11,371,23.24,29.68,3.18,2.79,0.0,...,2.5,18.764,8.598,0.784,94.0,132.00,"1 cup, diced",113.0,"1 cup, shredded",0.0

In [35]:
df.groupby(by='Shrt_Desc')['Energ_Kcal'].mean()

Shrt_Desc
ABALONE,MIXED SPECIES,RAW                                    105.0
ABALONE,MXD SP,CKD,FRIED                                     189.0
ABIYUCH,RAW                                                   69.0
ACEROLA JUICE,RAW                                             23.0
ACEROLA,(WEST INDIAN CHERRY),RAW                              32.0
                                                             ...
YOGURT,VANILLA,LOFAT,11 GRAMS PROT PER 8 OZ                   85.0
YOGURT,VANILLA,LOFAT,11 GRAMS PROT PER 8 OZ,FORT W/ VIT D     85.0
YOGURT,VANILLA,NON-FAT                                        78.0
YOKAN,PREP FROM ADZUKI BNS & SUGAR                           260.0
ZWIEBACK                                                     426.0
Name: Energ_Kcal, Length: 8787, dtype: float64

In [37]:
df['Shrt_Desc'].value_counts()

Shrt_Desc
BEEF,CHUCK,UNDER BLADE CNTR STEAK,BNLESS,DENVER CUT,LN,0" FA    2
POPCORN,OIL-POPPED,LOFAT                                        2
OIL,INDUSTRIAL,PALM KERNEL (HYDROGENATED),CONFECTION FAT        2
MUFFINS,WHEAT BRAN,TOASTER-TYPE W/RAISINS,TSTD                  1
MUFFINS,BLUEBERRY,TOASTER-TYPE,TSTD                             1
                                                               ..
CHRYSANTHEMUM,GARLAND,RAW                                       1
CHIVES,RAW                                                      1
CHICORY ROOTS,RAW                                               1
CHICORY GREENS,RAW                                              1
TURTLE,GREEN,RAW                                                1
Name: count, Length: 8787, dtype: int64

In [39]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("beridzeg45/food-nutritional-facts")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/beridzeg45/food-nutritional-facts?dataset_version_number=4...

100%|██████████| 97.3k/97.3k [00:00<00:00, 401kB/s]

Extracting files...
Path to dataset files: C:\Users\Nozima\.cache\kagglehub\datasets\beridzeg45\food-nutritional-facts\versions\4

In [43]:
df = pd.read_csv(path+'/foodstruct_nutritional_facts.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1174 entries, 0 to 1173
Data columns (total 59 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Food Name                             1174 non-null   object
 1   Category Name                         1174 non-null   object
 2   Calcium                               1149 non-null   float64
 3   Calories                              1174 non-null   float64
 4   Carbs                                 1174 non-null   float64
 5   Cholesterol                           1119 non-null   float64
 6   Copper                                1094 non-null   float64
 7   Fats                                  1174 non-null   float64
 8   Fiber                                 1076 non-null   float64
 9   Folate                                1071 non-null   float64
 10  Iron                                  1153 non-null   float64
 11  Magnesium                             1113 non-null   float64
 12  Monounsaturated Fat                   1064 non-null   float64
 13  Net carbs                             1173 non-null   float64
 14  Omega-3 - DHA                         902 non-null    float64
 15  Omega-3 - DPA                         895 non-null    float64
 16  Omega-3 - EPA                         903 non-null    float64
 17  Phosphorus                            1126 non-null   float64
 18  Polyunsaturated fat                   1064 non-null   float64
 19  Potassium                             1129 non-null   float64
 20  Protein                               1174 non-null   float64
 21  Saturated Fat                         1093 non-null   float64
 22  Selenium                              1020 non-null   float64
 23  Sodium                                1153 non-null   float64
 24  Trans Fat                             634 non-null    float64
 25  Vitamin A (IU)                        1118 non-null   float64
 26  Vitamin A RAE                         1056 non-null   float64
 27  Vitamin B1                            1115 non-null   float64
 28  Vitamin B12                           1083 non-null   float64
 29  Vitamin B2                            1116 non-null   float64
 30  Vitamin B3                            1115 non-null   float64
 31  Vitamin B5                            975 non-null    float64
 32  Vitamin B6                            1091 non-null   float64
 33  Vitamin C                             1124 non-null   float64
 34  Zinc                                  1108 non-null   float64
 35  Choline                               732 non-null    float64
 36  Fructose                              302 non-null    float64
 37  Histidine                             709 non-null    float64
 38  Isoleucine                            713 non-null    float64
 39  Leucine                               713 non-null    float64
 40  Lysine                                721 non-null    float64
 41  Manganese                             1012 non-null   float64
 42  Methionine                            718 non-null    float64
 43  Phenylalanine                         710 non-null    float64
 44  Starch                                199 non-null    float64
 45  Sugar                                 874 non-null    float64
 46  Threonine                             712 non-null    float64
 47  Tryptophan                            710 non-null    float64
 48  Valine                                713 non-null    float64
 49  Vitamin D                             829 non-null    float64
 50  Vitamin E                             816 non-null    float64
 51  Vitamin K                             791 non-null    float64
 52  Omega-3 - ALA                         176 non-null    float64
 53  Omega-6 - Eicosadienoic acid          265 non-null    float64
 54  Omega-6 - Gamma-linoleic acid         170 non-null    float64
 55  Omega-3 - Eicosatrienoic acid         114 non-null    float64
 56  Omega-6 - Dihomo-gamma-linoleic acid  119 non-null    float64
 57  Omega-6 - Linoleic acid               141 non-null    float64
 58  Omega-6 - Arachidonic acid            1 non-null      float64
dtypes: float64(57), object(2)
memory usage: 541.3+ KB

In [45]:
df.head()

,Food Name,Category Name,Calcium,Calories,Carbs,Cholesterol,Copper,Fats,Fiber,Folate,...,Vitamin D,Vitamin E,Vitamin K,Omega-3 - ALA,Omega-6 - Eicosadienoic acid,Omega-6 - Gamma-linoleic acid,Omega-3 - Eicosatrienoic acid,Omega-6 - Dihomo-gamma-linoleic acid,Omega-6 - Linoleic acid,Omega-6 - Arachidonic acid
0,Acerola,Fruits,0.012,32.0,7.7,0.0,0.00009,0.30,1.1,0.000014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Apple,Fruits,0.006,52.0,14.0,0.0,0.00003,0.17,2.4,0.000003,...,0.0,0.00018,0.000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Apricot,Fruits,0.013,48.0,11.0,0.0,0.00008,0.39,2.0,0.000009,...,0.0,0.00089,0.000003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dried fruit,Fruits,0.055,241.0,63.0,0.0,0.00034,0.51,7.3,0.000010,...,0.0,0.00430,0.000003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Avocado,Fruits,0.012,160.0,8.5,0.0,0.00019,15.00,6.7,0.000081,...,0.0,0.00210,0.000021,0.11,0.0,0.02,NaN,NaN,NaN,NaN

In [61]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("yoyoyloloy/fruits-and-vegetables-nutritional-values")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\Nozima\.cache\kagglehub\datasets\yoyoyloloy\fruits-and-vegetables-nutritional-values\versions\2

In [62]:
df = pd.read_csv(path+'/fruits.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               52 non-null     object
 1   energy (kcal/kJ)   52 non-null     object
 2   water (g)          52 non-null     float64
 3   protein (g)        52 non-null     float64
 4   total fat (g)      52 non-null     float64
 5   carbohydrates (g)  52 non-null     float64
 6   fiber (g)          52 non-null     object
 7   sugars (g)         52 non-null     object
 8   calcium (mg)       52 non-null     int64
 9   iron (mg)          52 non-null     float64
 10  magnessium (mg)    52 non-null     object
 11  phosphorus (mg)    52 non-null     int64
 12  potassium (mg)     52 non-null     object
 13  sodium (g)         52 non-null     object
 14  vitamin A (IU)     52 non-null     object
 15  vitamin C (mg)     52 non-null     float64
 16  vitamin B1 (mg)    52 non-null     object
 17  vitamin B2 (mg)    52 non-null     object
 18  viatmin B3 (mg)    52 non-null     object
 19  vitamin B5 (mg)    52 non-null     object
 20  vitamin B6 (mg)    52 non-null     object
 21  vitamin E (mg)     52 non-null     object
dtypes: float64(6), int64(2), object(14)
memory usage: 9.1+ KB

In [64]:
df.head()

,name,energy (kcal/kJ),water (g),protein (g),total fat (g),carbohydrates (g),fiber (g),sugars (g),calcium (mg),iron (mg),...,potassium (mg),sodium (g),vitamin A (IU),vitamin C (mg),vitamin B1 (mg),vitamin B2 (mg),viatmin B3 (mg),vitamin B5 (mg),vitamin B6 (mg),vitamin E (mg)
0,Apple nutrition facts,48/200,86.70,0.27,0.13,12.70,1.3,10.1,5,0.07,...,90,0,38,4.0,0.019,0.028,0.091,0.071,0.037,0.05
1,Apricot nutrition facts,48/201,86.40,1.40,0.39,11.12,2,9.24,13,0.39,...,259,1,1926,10.0,0.03,0.04,0.6,0.24,0.054,0.89
2,Avocado nutrition,160/670,73.23,2.00,14.70,8.53,6.7,0.66,12,0.55,...,485,7,146,10.0,0.067,0.13,1.738,1.389,0.257,2.07
3,Banana nutrition facts,89/371,74.91,1.09,0.33,22.84,2.6,12.23,5,0.26,...,358,1,64,8.7,0.031,0.073,0.665,0.334,0.367,0.1
4,Blackberries nutrition,43/181,88.15,1.39,0.49,9.61,5.3,4.88,29,0.62,...,162,1,214,21.0,0.02,0.026,0.646,0.276,0.03,1.17

In [76]:
df['energy (kcal/kJ)'].value_counts()

energy (kcal/kJ)
53/223      2
47/198      2
48/200      1
39/163      1
30/126      1
66/276      1
65/272      1
34/141      1
28/118      1
36/150      1
43/180      1
44/185      1
47/197      1
97/406      1
71/296      1
39/165      1
58/242      1
127/531     1
50/209      1
46/192      1
83/346      1
57/238      1
52/220      1
32/136      1
20/84       1
61/255      1
48/201      1
60/251      1
160/670     1
89/371      1
43/181      1
57/240      1
31/128      1
75/313      1
63/263      1
46/194      1
63/264      1
56/234      1
282/1178    1
277/1160    1
147/615     1
74/310      1
42/176      1
33/138      1
69/288      1
53/222      1
68/285      1
44/184      1
94/393      1
30/127      1
Name: count, dtype: int64

In [78]:
def convert_energy(value):
    result = value.split ('/')[0]
    return float(result)
df['energy (kcal/kJ)'] = df['energy (kcal/kJ)'].apply(convert_energy)

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               52 non-null     object
 1   energy (kcal/kJ)   52 non-null     float64
 2   water (g)          52 non-null     float64
 3   protein (g)        52 non-null     float64
 4   total fat (g)      52 non-null     float64
 5   carbohydrates (g)  52 non-null     float64
 6   fiber (g)          52 non-null     object
 7   sugars (g)         52 non-null     object
 8   calcium (mg)       52 non-null     int64
 9   iron (mg)          52 non-null     float64
 10  magnessium (mg)    52 non-null     object
 11  phosphorus (mg)    52 non-null     int64
 12  potassium (mg)     52 non-null     object
 13  sodium (g)         52 non-null     object
 14  vitamin A (IU)     52 non-null     object
 15  vitamin C (mg)     52 non-null     float64
 16  vitamin B1 (mg)    52 non-null     object
 17  vitamin B2 (mg)    52 non-null     object
 18  viatmin B3 (mg)    52 non-null     object
 19  vitamin B5 (mg)    52 non-null     object
 20  vitamin B6 (mg)    52 non-null     object
 21  vitamin E (mg)     52 non-null     object
dtypes: float64(7), int64(2), object(13)
memory usage: 9.1+ KB

In [82]:
df.groupby('name')['energy (kcal/kJ)'].mean().sort_values(ascending=False)

name
Date nutrition: Dates, deglet noor         282.0
Dates, medjool                             277.0
Avocado nutrition                          160.0
Durian nutrition                           147.0
Persimmon nutrition: Persimmons, native    127.0
Passion fruit nutrition                     97.0
Jackfruit nutrition                         94.0
Banana nutrition facts                      89.0
Pomegranate nutrition facts                 83.0
Cherimoya fruit nutrition                   75.0
Fig nutrition: Figs, raw                    74.0
Kumquat nutrition                           71.0
Grape nutrition: Grapes, red or green       69.0
Guava nutrition facts                       68.0
Litchis or Lychees nutrition                66.0
Mango nutrition facts                       65.0
Cherry fruit nutrition facts                63.0
Currants Black                              63.0
Kiwi nutriion: Kiwifruit, green             61.0
Kiwi nutriion: Kiwifruit, gold              60.0
Pear nutrition                              58.0
Blueberry nutrition facts                   57.0
Quince fruit                                57.0
Currants, Red and White                     56.0
Groundcherries or Cape Gooseberries         53.0
Tangerine nutrition                         53.0
Mandarin-Tangerine nutrition                53.0
Raspberry nutrition                         52.0
Pineapple nutrition                         50.0
Apple nutrition facts                       48.0
Apricot nutrition facts                     48.0
Mandarin-Clementine nutrition               47.0
Clementine                                  47.0
Oranges nutrition facts                     47.0
Cranberries                                 46.0
Plum nutrition                              46.0
Nectarine nutrition                         44.0
Gooseberries                                44.0
Blackberries nutrition                      43.0
Mulberries, raw                             43.0
Grapefruit, pink and red                    42.0
Peaches nutrition                           39.0
Papaya nutrition                            39.0
Melons, honeydew                            36.0
Melons, cantaloupe                          34.0
Grapefruit, white                           33.0
Strawberry nutrition facts                  32.0
Carambola or Starfruit                      31.0
Lime nutrition                              30.0
Watermelon nutrition facts                  30.0
Melons, casaba                              28.0
Lemon nutrition: Lemon with peel            20.0
Name: energy (kcal/kJ), dtype: float64

In [88]:
df.pivot_table(columns='energy (kcal/kJ)', index='name', values='protein (g)', aggfunc='mean')

energy (kcal/kJ),20.0,28.0,30.0,31.0,32.0,33.0,34.0,36.0,39.0,42.0,...,75.0,83.0,89.0,94.0,97.0,127.0,147.0,160.0,277.0,282.0
name,,,,,,,,,,,,,,,,,,,,,
Apple nutrition facts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Apricot nutrition facts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Avocado nutrition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
Banana nutrition facts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Blackberries nutrition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Blueberry nutrition facts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Carambola or Starfruit,NaN,NaN,NaN,1.04,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cherimoya fruit nutrition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cherry fruit nutrition facts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Clementine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cranberries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Currants Black,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Currants, Red and White",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Date nutrition: Dates, deglet noor",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.45
"Dates, medjool",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.81,NaN
Durian nutrition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.47,NaN,NaN,NaN
"Fig nutrition: Figs, raw",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gooseberries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Grape nutrition: Grapes, red or green",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Grapefruit, pink and red",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.77,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Grapefruit, white",NaN,NaN,NaN,NaN,NaN,0.69,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Groundcherries or Cape Gooseberries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Guava nutrition facts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jackfruit nutrition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.47,NaN,NaN,NaN,NaN,NaN,NaN
"Kiwi nutriion: Kiwifruit, gold",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Kiwi nutriion: Kiwifruit, green",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kumquat nutrition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lemon nutrition: Lemon with peel,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lime nutrition,NaN,NaN,0.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Litchis or Lychees nutrition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mandarin-Clementine nutrition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mandarin-Tangerine nutrition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mango nutrition facts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Melons, cantaloupe",NaN,NaN,NaN,NaN,NaN,NaN,0.84,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Melons, casaba",NaN,1.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Melons, honeydew",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.54,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Mulberries, raw",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nectarine nutrition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Oranges nutrition facts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Papaya nutrition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.61,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Passion fruit nutrition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.2,NaN,NaN,NaN,NaN,NaN
Peaches nutrition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.91,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pear nutrition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Persimmon nutrition: Persimmons, native",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.8,NaN,NaN,NaN,NaN
Pineapple nutrition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Plum nutrition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pomegranate nutrition facts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Quince fruit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Raspberry nutrition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strawberry nutrition facts,NaN,NaN,NaN,NaN,0.67,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tangerine nutrition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Watermelon nutrition facts,NaN,NaN,0.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
df.head()

,name,energy (kcal/kJ),water (g),protein (g),total fat (g),carbohydrates (g),fiber (g),sugars (g),calcium (mg),iron (mg),...,potassium (mg),sodium (g),vitamin A (IU),vitamin C (mg),vitamin B1 (mg),vitamin B2 (mg),viatmin B3 (mg),vitamin B5 (mg),vitamin B6 (mg),vitamin E (mg)
0,Apple nutrition facts,48.0,86.70,0.27,0.13,12.70,1.3,10.1,5,0.07,...,90,0,38,4.0,0.019,0.028,0.091,0.071,0.037,0.05
1,Apricot nutrition facts,48.0,86.40,1.40,0.39,11.12,2,9.24,13,0.39,...,259,1,1926,10.0,0.03,0.04,0.6,0.24,0.054,0.89
2,Avocado nutrition,160.0,73.23,2.00,14.70,8.53,6.7,0.66,12,0.55,...,485,7,146,10.0,0.067,0.13,1.738,1.389,0.257,2.07
3,Banana nutrition facts,89.0,74.91,1.09,0.33,22.84,2.6,12.23,5,0.26,...,358,1,64,8.7,0.031,0.073,0.665,0.334,0.367,0.1
4,Blackberries nutrition,43.0,88.15,1.39,0.49,9.61,5.3,4.88,29,0.62,...,162,1,214,21.0,0.02,0.026,0.646,0.276,0.03,1.17

In [ ]:
df['water (g)'] + df

In [184]:
df['energy (kcal/kJ)'].value_counts()

energy (kcal/kJ)
53.0     3
47.0     3
48.0     2
63.0     2
39.0     2
30.0     2
46.0     2
44.0     2
57.0     2
43.0     2
75.0     1
20.0     1
52.0     1
83.0     1
50.0     1
127.0    1
58.0     1
97.0     1
89.0     1
36.0     1
28.0     1
34.0     1
65.0     1
66.0     1
71.0     1
31.0     1
61.0     1
60.0     1
94.0     1
160.0    1
68.0     1
69.0     1
33.0     1
42.0     1
74.0     1
147.0    1
277.0    1
282.0    1
56.0     1
32.0     1
Name: count, dtype: int64

In [186]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               52 non-null     object
 1   energy (kcal/kJ)   52 non-null     float64
 2   water (g)          52 non-null     float64
 3   protein (g)        52 non-null     float64
 4   total fat (g)      52 non-null     float64
 5   carbohydrates (g)  52 non-null     float64
 6   fiber (g)          52 non-null     object
 7   sugars (g)         52 non-null     object
 8   calcium (mg)       52 non-null     int64
 9   iron (mg)          52 non-null     float64
 10  magnessium (mg)    50 non-null     float64
 11  phosphorus (mg)    52 non-null     int64
 12  potassium (mg)     51 non-null     float64
 13  sodium (g)         51 non-null     float64
 14  vitamin A (IU)     49 non-null     float64
 15  vitamin C (mg)     52 non-null     float64
 16  vitamin B1 (mg)    52 non-null     float64
 17  vitamin B2 (mg)    52 non-null     float64
 18  viatmin B3 (mg)    52 non-null     float64
 19  vitamin B5 (mg)    52 non-null     float64
 20  vitamin B6 (mg)    52 non-null     float64
 21  vitamin E (mg)     52 non-null     float64
dtypes: float64(17), int64(2), object(3)
memory usage: 9.1+ KB

In [188]:
def sodium_cleaning(value):
    if value == '-':
        return None
    return float(value)

df['sodium (g)'] = df['sodium (g)'].apply(sodium_cleaning)

In [190]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               52 non-null     object
 1   energy (kcal/kJ)   52 non-null     float64
 2   water (g)          52 non-null     float64
 3   protein (g)        52 non-null     float64
 4   total fat (g)      52 non-null     float64
 5   carbohydrates (g)  52 non-null     float64
 6   fiber (g)          52 non-null     object
 7   sugars (g)         52 non-null     object
 8   calcium (mg)       52 non-null     int64
 9   iron (mg)          52 non-null     float64
 10  magnessium (mg)    50 non-null     float64
 11  phosphorus (mg)    52 non-null     int64
 12  potassium (mg)     51 non-null     float64
 13  sodium (g)         51 non-null     float64
 14  vitamin A (IU)     49 non-null     float64
 15  vitamin C (mg)     52 non-null     float64
 16  vitamin B1 (mg)    52 non-null     float64
 17  vitamin B2 (mg)    52 non-null     float64
 18  viatmin B3 (mg)    52 non-null     float64
 19  vitamin B5 (mg)    52 non-null     float64
 20  vitamin B6 (mg)    52 non-null     float64
 21  vitamin E (mg)     52 non-null     float64
dtypes: float64(17), int64(2), object(3)
memory usage: 9.1+ KB

In [214]:
def vitaminA_cleaning(value):
    if value == '-':
        return 0
    else:
        return float(value)

df['vitamin A (IU)'] = df['vitamin A (IU)'].apply(vitaminA_cleaning)

In [216]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               52 non-null     object
 1   energy (kcal/kJ)   52 non-null     float64
 2   water (g)          52 non-null     float64
 3   protein (g)        52 non-null     float64
 4   total fat (g)      52 non-null     float64
 5   carbohydrates (g)  52 non-null     float64
 6   fiber (g)          52 non-null     object
 7   sugars (g)         52 non-null     object
 8   calcium (mg)       52 non-null     int64
 9   iron (mg)          52 non-null     float64
 10  magnessium (mg)    50 non-null     float64
 11  phosphorus (mg)    52 non-null     int64
 12  potassium (mg)     51 non-null     float64
 13  sodium (g)         51 non-null     float64
 14  vitamin A (IU)     49 non-null     float64
 15  vitamin C (mg)     52 non-null     float64
 16  vitamin B1 (mg)    52 non-null     float64
 17  vitamin B2 (mg)    52 non-null     float64
 18  viatmin B3 (mg)    52 non-null     float64
 19  vitamin B5 (mg)    52 non-null     float64
 20  vitamin B6 (mg)    52 non-null     float64
 21  vitamin E (mg)     52 non-null     float64
dtypes: float64(17), int64(2), object(3)
memory usage: 9.1+ KB

In [196]:
df['sodium (g)'].value_counts()

sodium (g)
1.0     17
2.0     11
0.0      8
3.0      6
7.0      2
10.0     2
16.0     1
9.0      1
18.0     1
28.0     1
4.0      1
Name: count, dtype: int64

In [202]:
def convert_b6(value):
    result = value.replace('-', '0.033')
    return float(result)

df['vitamin B6 (mg)'] = df['vitamin B6 (mg)'].apply(convert_b6)
df['vitamin B6 (mg)'].value_counts()

AttributeError: 'float' object has no attribute 'replace'

In [200]:
def convert(value):
    if '-' in value:
        result = value.replace('-','0')
        return float(result)
    else:
        return float(value)
df['vitamin B2 (mg)'] = df['vitamin B2 (mg)'].apply(convert)

TypeError: argument of type 'float' is not iterable

In [169]:
def convert(value):
    if '-' in value:
        result = value.replace('-','0')
        return float(result)
    else:
        return float(value)
df['vitamin B1 (mg)'] = df['vitamin B1 (mg)'].apply(convert)

TypeError: argument of type 'float' is not iterable

In [171]:
def convert_magnessium(value):
    if value == '-':
        del(value)
    else:
        return float(value)

df['magnessium (mg)'] = df['magnessium (mg)'].apply(convert_magnessium)
df['potassium (mg)'] = df['potassium (mg)'].apply(convert_magnessium)

In [173]:
def convertFloat(value):
    if value != "-":
        return float(value)
    else:
        return 0

df["vitamin E (mg)"] = df["vitamin E (mg)"].apply(convertFloat)

In [175]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               52 non-null     object
 1   energy (kcal/kJ)   52 non-null     float64
 2   water (g)          52 non-null     float64
 3   protein (g)        52 non-null     float64
 4   total fat (g)      52 non-null     float64
 5   carbohydrates (g)  52 non-null     float64
 6   fiber (g)          52 non-null     object
 7   sugars (g)         52 non-null     object
 8   calcium (mg)       52 non-null     int64
 9   iron (mg)          52 non-null     float64
 10  magnessium (mg)    50 non-null     float64
 11  phosphorus (mg)    52 non-null     int64
 12  potassium (mg)     51 non-null     float64
 13  sodium (g)         51 non-null     float64
 14  vitamin A (IU)     49 non-null     float64
 15  vitamin C (mg)     52 non-null     float64
 16  vitamin B1 (mg)    52 non-null     float64
 17  vitamin B2 (mg)    52 non-null     float64
 18  viatmin B3 (mg)    52 non-null     float64
 19  vitamin B5 (mg)    52 non-null     float64
 20  vitamin B6 (mg)    52 non-null     float64
 21  vitamin E (mg)     52 non-null     float64
dtypes: float64(17), int64(2), object(3)
memory usage: 9.1+ KB

In [177]:
def b3_convert(value):
    if '-' in value:
        result=value.replace('-','0')
        return float(result)
    else:
        return float(value)

df['viatmin B3 (mg)']=df['viatmin B3 (mg)'].apply(b3_convert)

TypeError: argument of type 'float' is not iterable

In [179]:
def b5_convert(value):
    if '-' in value:
        result=value.replace('-','0')
        return float(result)
    else:
        return float(value)

df['vitamin B5 (mg)']=df['vitamin B5 (mg)'].apply(b5_convert)

TypeError: argument of type 'float' is not iterable

In [204]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               52 non-null     object
 1   energy (kcal/kJ)   52 non-null     float64
 2   water (g)          52 non-null     float64
 3   protein (g)        52 non-null     float64
 4   total fat (g)      52 non-null     float64
 5   carbohydrates (g)  52 non-null     float64
 6   fiber (g)          52 non-null     object
 7   sugars (g)         52 non-null     object
 8   calcium (mg)       52 non-null     int64
 9   iron (mg)          52 non-null     float64
 10  magnessium (mg)    50 non-null     float64
 11  phosphorus (mg)    52 non-null     int64
 12  potassium (mg)     51 non-null     float64
 13  sodium (g)         51 non-null     float64
 14  vitamin A (IU)     49 non-null     float64
 15  vitamin C (mg)     52 non-null     float64
 16  vitamin B1 (mg)    52 non-null     float64
 17  vitamin B2 (mg)    52 non-null     float64
 18  viatmin B3 (mg)    52 non-null     float64
 19  vitamin B5 (mg)    52 non-null     float64
 20  vitamin B6 (mg)    52 non-null     float64
 21  vitamin E (mg)     52 non-null     float64
dtypes: float64(17), int64(2), object(3)
memory usage: 9.1+ KB

In [218]:
def vitaminA(value):
    if '-' in value:
        result = value.replace('-','0')
        return float(result)
    else:
        return float(value)
df['vitamin A (IU)'] = df['vitamin A (IU)'].apply(vitaminA)

TypeError: argument of type 'float' is not iterable

In [220]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("yoyoyloloy/fruits-and-vegetables-nutritional-values")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\Nozima\.cache\kagglehub\datasets\yoyoyloloy\fruits-and-vegetables-nutritional-values\versions\2

In [222]:
df = pd.read_csv(path+'/fruits.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               52 non-null     object
 1   energy (kcal/kJ)   52 non-null     object
 2   water (g)          52 non-null     float64
 3   protein (g)        52 non-null     float64
 4   total fat (g)      52 non-null     float64
 5   carbohydrates (g)  52 non-null     float64
 6   fiber (g)          52 non-null     object
 7   sugars (g)         52 non-null     object
 8   calcium (mg)       52 non-null     int64
 9   iron (mg)          52 non-null     float64
 10  magnessium (mg)    52 non-null     object
 11  phosphorus (mg)    52 non-null     int64
 12  potassium (mg)     52 non-null     object
 13  sodium (g)         52 non-null     object
 14  vitamin A (IU)     52 non-null     object
 15  vitamin C (mg)     52 non-null     float64
 16  vitamin B1 (mg)    52 non-null     object
 17  vitamin B2 (mg)    52 non-null     object
 18  viatmin B3 (mg)    52 non-null     object
 19  vitamin B5 (mg)    52 non-null     object
 20  vitamin B6 (mg)    52 non-null     object
 21  vitamin E (mg)     52 non-null     object
dtypes: float64(6), int64(2), object(14)
memory usage: 9.1+ KB

In [224]:
def convert_sodium(value):
    if value == '-':
        return 0
    else:
        return float(value)

df['sodium (g)'] = df['sodium (g)'].apply(convert_sodium)
df['vitamin A (IU)'] = df['vitamin A (IU)'].apply(convert_sodium)

In [226]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               52 non-null     object
 1   energy (kcal/kJ)   52 non-null     object
 2   water (g)          52 non-null     float64
 3   protein (g)        52 non-null     float64
 4   total fat (g)      52 non-null     float64
 5   carbohydrates (g)  52 non-null     float64
 6   fiber (g)          52 non-null     object
 7   sugars (g)         52 non-null     object
 8   calcium (mg)       52 non-null     int64
 9   iron (mg)          52 non-null     float64
 10  magnessium (mg)    52 non-null     object
 11  phosphorus (mg)    52 non-null     int64
 12  potassium (mg)     52 non-null     object
 13  sodium (g)         52 non-null     float64
 14  vitamin A (IU)     52 non-null     float64
 15  vitamin C (mg)     52 non-null     float64
 16  vitamin B1 (mg)    52 non-null     object
 17  vitamin B2 (mg)    52 non-null     object
 18  viatmin B3 (mg)    52 non-null     object
 19  vitamin B5 (mg)    52 non-null     object
 20  vitamin B6 (mg)    52 non-null     object
 21  vitamin E (mg)     52 non-null     object
dtypes: float64(8), int64(2), object(12)
memory usage: 9.1+ KB

In [228]:
df.groupby('name')['Total_value']

KeyError: 'Column not found: Total_value'

In [ ]:
universal = []
for key, value in df.items()
    count = 0
    for v in value:
        if v == 0:
            count += 1
    if count < 4:
        universal.append(df['name'])

print(universal)