In [26]:
import pandas as pd
df = pd.read_csv('movies.csv')

In [27]:
df['YEAR'].value_counts()

YEAR
(2020– )           892
(2021– )           658
(2020)             639
(2019– )           549
(2019)             544
                  ...
(1999– )             1
(I) (2013–2016)      1
(2002–2005)          1
(2010–2015)          1
(1985– )             1
Name: count, Length: 438, dtype: int64

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 429.7+ KB

In [29]:
def year_clean(value):
    try:
        return int(value)
    except:
        return 0
df['YEAR'] = df['YEAR'].apply(year_clean)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9999 non-null   int64
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), int64(1), object(6)
memory usage: 468.8+ KB

In [31]:
def genre_clean(value):
    try:
        return float(value)
    except:
        return 0
df['GENRE'] = df['GENRE'].apply(genre_clean)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9999 non-null   int64
 2   GENRE     9919 non-null   float64
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(3), int64(1), object(5)
memory usage: 507.8+ KB

In [33]:
avr_genre = df['GENRE'].mean()

In [34]:
df['GENRE'] = df['GENRE'].fillna(avr_genre)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9999 non-null   int64
 2   GENRE     9999 non-null   float64
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(3), int64(1), object(5)
memory usage: 507.8+ KB

In [36]:
def votes_clean(value):
    try:
        value = str(value).replace(',' , '')
        return int(value)
    except:
        return 0
df['VOTES'] = df['VOTES'].apply(votes_clean)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9999 non-null   int64
 2   GENRE     9999 non-null   float64
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     9999 non-null   int64
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(3), int64(2), object(4)
memory usage: 546.9+ KB

In [38]:
def runtime_clean(value):
        try:
            return int(value)  
        except:
            return 0
df['RunTime'] = df['RunTime'].apply(runtime_clean)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9999 non-null   int64
 2   GENRE     9999 non-null   float64
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     9999 non-null   int64
 7   RunTime   9999 non-null   int64
 8   Gross     460 non-null    object
dtypes: float64(2), int64(3), object(4)
memory usage: 546.9+ KB

In [40]:
def gross_clean(value):
    try:
        value = str(value) 
        value = value.replace(',', '').replace('$', '')

        if 'M' in value: 
            return float(value.replace('M', '') ) * 1000000
        elif 'K' in value:  
            return float(value.replace('K', '')) * 1000
        else:
            return float(value) 
    except:
        return 0

df['Gross'] = df['Gross'].apply(gross_clean)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9999 non-null   int64
 2   GENRE     9999 non-null   float64
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     9999 non-null   int64
 7   RunTime   9999 non-null   int64
 8   Gross     460 non-null    float64
dtypes: float64(3), int64(3), object(3)
memory usage: 585.9+ KB

In [42]:
avr_gross = df['Gross'].mean()
df['Gross'] = df['Gross'].fillna(avr_gross)

In [43]:
avr_rating = df['RATING'].mean()

In [44]:
df['RATING'] = df['RATING'].fillna(avr_rating)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9999 non-null   int64
 2   GENRE     9999 non-null   float64
 3   RATING    9999 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     9999 non-null   int64
 7   RunTime   9999 non-null   int64
 8   Gross     9999 non-null   float64
dtypes: float64(3), int64(3), object(3)
memory usage: 585.9+ KB